body{
    padding: 50px 100px;
}
h2{
    text-align: center;
}
#container{
    text-align: center;
    background-color: cadetblue;
    padding: 50px;
}
.input-div{
    display: inline-block;
}
.inp{
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    font-weight:bold ;
    width: 250px;

}
label{
    font-size: 25px;
}